@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #666;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
}

h1 {
  color: #fff;
}

.screen {
  cursor: pointer;
  width: 50%;
  background-color: black !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.controls {
  background: #333;
  color: #fff;
  width: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.controls .btn {
  border: 0;
  background: transparent;

  cursor: pointer;
}

.controls .fa-play {
  color: green;
}

.controls .fa-stop {
  color: red;
}
.controls .fa-pause {
  color: white;
}

.controls .timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}
.controls .progress {
  width: 100%;
}

.btn:focus {
  outline: 0;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}
